.line {
    margin-bottom: 8% !important;
}

.header {
    margin-bottom: 5% !important;
}

.buttonVoluntariado {
    background-color: #6ECCAF !important;
    margin-top: 5% !important;
    margin-bottom: 5% !important;
    line-height: 220%;
}

.buttonOrganizacao {
    background-color: #ADE792 !important;
    margin-top: 5% !important;
    margin-bottom: 5% !important;
    line-height: 220%;
}
