.line {
    margin-bottom: 8% !important;
}

.header {
    margin-bottom: 5% !important;
}

.buttonVoluntariado {
    background-color: #00bcd4 !important;
    margin-top: 5% !important;
    margin-bottom: 5% !important;
    line-height: 220%;
}

.buttonOrganizacao {
    background-color: #8bc34a !important;
    margin-top: 5% !important;
    margin-bottom: 5% !important;
    line-height: 220%;
}
