.text {
    text-align: "left";
    margin-top: 3% !important;
    margin-bottom: 3% !important;
}

.icons {
    margin-top: 10% !important;
}

.pic {
    margin-top: 6% !important;
}

.backgroundPopup{
    background-image: url("../../../public/bolaVerde3.png"), url("../../../public/bolaVerde2.png"), url("../../../public/bolaAzul1.png");
    background-size: 200px;
    background-repeat: no-repeat;
    background-position: 349px 0px, 68px 151px, -30px 73px;
}
