@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.homeCarousel {
  width: 80%;
  margin: 10rem auto;
  height: 570px;
}

.slide img {
  width: 20rem;
  margin: 0 auto;
}

.slide {
  transform: scale(0.5);
  transition: transform 300ms;
  opacity: 0.5;
}

.activeSlide {
  transform: scale(1.1);
  opacity: 1;
}

.arrow {
  background-color: #f1f5ef;
  position: absolute;
  cursor: pointer;
  z-index: 10;
}

.arrow svg {
  transition: color 300ms;
}

.arrow svg:hover {
  color: #7fb9b9;
}

.next {
  right: 0%;
  top: 50%;
}

.prev {
  left: 0%;
  top: 50%;
}

.title {
  position: relative;
  bottom: 40px;
  display: flex;
  justify-content: center;
  color: #ffffff;
  text-shadow: 2px 2px 4px #000000;
  font-size: 100%;
  font-family: "Raleway", sans-serif;
  text-align: center;
}