.headerContainer,
.header {
    margin: 15px;
}

.headerButton {
    position: absolute;
    right: 0;
    margin-right: 14px;
    color: #EFF5F5;
}


.headerTest {
    color: #eff5f5;
}

.headerImage {
    width: 100%;
}

.headerLink {
    color: inherit !important;
    text-decoration: none !important;
}

.headerOtherButtons:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 6px;
    content: "";
    height: 2px;
    left: 50%;
    position: absolute;
    background: #EFF5F5;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.headerOtherButtons:hover:after {
    width: 100%;
    left: 0;
}
