.headerContainer,
.header {
    margin: 15px;
}

.headerButton {
    position: absolute;
    right: 0;
    margin-right: 14px;
    color: #EFF5F5;
}

.headerTest {
    color: #EFF5F5;
}

.headerImage {
    width: 100%;
}

.headerLink {
    color: inherit !important;
    text-decoration: none !important;
}