.searchBar {
    background-color: white;
}

.filterButton {
    text-transform: none;
    border-radius: 20px;
}

.button {
    text-transform: none;
    border-radius: 20px;
    color: white;
    background-color: #497174;
}
