.profileinfoContainer,
.profile {
    margin: 150px;
}

.backgroundwhite {
    background-color: white;
}

.ProfileTest {
    color: white;
}

.margintop{
    margin-top: 2%;
}

.margins {
    margin-left: 3%;
    margin-right: 3%;
}