.profileinfoContainer,
.profile {
    margin: 150px;
}

.backgroundwhite {
    background-color: white;
}

.ProfileTest {
    color: white;
}

.margintop{
    margin-top: 2%;
}

.margins {
    margin-left: 3%;
    margin-right: 3%;
}

.marginprofile {

    margin-left: auto;
    margin-top: 10%;
    margin-bottom: 5%;
    margin-right: auto;
}
.marginPhone{
    margin-top: 4%;
    margin-bottom: 4%;
    margin-left: 10%;
    
}
.marginRight{
    margin-right: 5%;
}

.description{
    background-color: white;
    margin-top: 6%;
    margin-bottom: 5%;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 2%;
    
}

.buttonmargin{
    margin-left: 5%;
}

.buttonedit{
    margin-right: 5%;
    margin-top: 2%;
}

.descriptionarea{
    margin-left: 200;
    margin-right: 200;
    height:100%
   
}
.perfileTitle{
    margin-left: 4%;
    margin-bottom: 1%;
}

.marginCandid{
    margin-left: 1%;
    margin-right: 1%;
}

